<!-- /snippets/product-title.liquid -->

{%- if block.settings.text_size -%}
  {% assign heading_size_class = block.settings.text_size | prepend: 'heading-size-' %}
{%- endif -%}

<div class="product__block__title" style="--PB: {{ block.settings.padding_bottom }}px;" {{ block.shopify_attributes }}>
  <div class="product__headline">
    <div class="product__title__wrapper">
      <h1 class="product__title {{ heading_size_class }}">
        {% if template contains 'product' and block %}
          {{ product.title }}
        {% else %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {% endif %}
      </h1>

      {%- if block.settings.show_rating and product.metafields.reviews.rating.value != blank -%}
        <div class="rating__wrapper__title">
          {% render 'product-rating', product: product, show_rating_count: block.settings.show_rating_count %}
        </div>
      {%- endif -%}
    </div>

    {%- if product.metafields.theme.cutline != blank and product.metafields.theme.cutline.type == 'single_line_text_field' and block.settings.product_show_cutline -%}
      <p class="product__page__cutline">{{ product.metafields.theme.cutline.value }}</p>
    {%- endif -%}
  </div>
</div>
