<!-- /snippets/product-features.liquid -->
<div class="product-features">
  <div>
    <img src="{{block.settings.feature_1_image | image_url: width: 32 }}" width="32" height="32" />
    <div>{{ block.settings.feature_1_text }}</div>
  </div>
  <div>
    <img src="{{block.settings.feature_2_image | image_url: width: 32 }}" width="32" height="32" />
    <div>{{ block.settings.feature_2_text }}</div>
  </div>
  <div>
    <img src="{{block.settings.feature_3_image | image_url: width: 32 }}" width="32" height="32" />
    <div>{{ block.settings.feature_3_text }}</div>
  </div>
</div>
