<!-- /snippets/product-info-item.liquid -->

{% assign container_width = 200 %}

<div class="product-item">
  <a href="{{ product.url | default: '#' }}">
    {% if product.featured_media.preview_image != blank %}
      {% assign alt = product.featured_media.alt | default: product.title | strip_html | escape %}
      {% assign image_width = product.featured_media.width | default: product.featured_media.preview_image.width %}

      {% capture sizes %}
        (min-width: 768px) {{ container_width }}px,
        100vw
      {% endcapture %}

      {%- render 'image',
        wrapper_class: 'product-item__image',
        img_object: product.featured_media,
        width: image_width,
        sizes: sizes,
        alt: alt,
        loading_animation: loading_animation
      -%}
    {% elsif product.title != blank and product.featured_media.preview_image == blank %}
      <div class="product-no-image"></div>
    {% else %}
      {%- render 'image', wrapper_class: 'product-item__image', placeholder: placeholder -%}
    {% endif %}
  </a>

  <div class="product-item__content">
    <p class="product-item__title">{{ product.title | default: 'Nomad X Sunglasses' }}</p>

    <p class="product-item__price">
      {% if product.price_varies and product.price_varies != '' %}
        {{ 'products.general.from' | t }}
      {% endif %}

      {% if product.title != blank %}
        {% if settings.currency_code_enable %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% else %}
        {% if settings.currency_code_enable %}
          {{ 1999 | money_with_currency }}
        {% else %}
          {{ 1999 | money }}
        {% endif %}
      {% endif %}

    </p>

    <a href="{{ product.url | default: '#' }}" class="product-item__link">{{ 'products.general.view_details' | t }}</a>
  </div>
</div>
<!-- Swym Wishlist Plus EPI Button with default first variant -->
  <button aria-label="Add to Wishlist" data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}">
</button>
  <!-- Swym Wishlist Plus EPI Button-->
