<!-- /snippets/product-size-and-remaining.liquid -->

{%- if block.settings.info_page != blank -%}
  {%- liquid
    assign size_page = pages[block.settings.info_page]
    assign size_page_title = block.settings.title | default: size_page.title
    assign action_style = 'product__info__link'
  -%}
{%- endif -%}

{% comment %} Preorder products show a variant countdown but not sold out or in stock states {% endcomment %}
{%- if product.metafields.theme.preorder.value == true -%}
  {% assign is_preorder = true %}
{% endif %}

{%- capture size_chart -%}
  {%- if block.settings.info_page != blank -%}
    <a href="{{ size_page.url }}" class="{{ action_style }}" data-popup-{{ section.id }}="size-{{ section.id }}">
      {{ size_page_title }}
    </a>
    <div class="modal micromodal-slide" id="size-{{ section.id }}" data-modal aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <button data-micromodal-close class="modal__close" aria-label="{{ 'general.accessibility.close' | t }}"></button>
        <div class="modal__container modal__container--inline"
          data-modal-content
          role="dialog"
          aria-modal="true"
          aria-label="{{ size_page_title | strip_html | escape }}">
          <div class="rte">{{ size_page.content }}</div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}

<div class="product__block__remaining" style="--PB: {{ block.settings.padding_bottom }}px;" {{ block.shopify_attributes }}>
  {%- if block.settings.show_remaining or size_page -%}
    {%- assign packed_class = '' -%}
    {%- if block.settings.show_remaining and size_page -%}
      {%- assign packed_class = 'product__button__meta--packed' -%}
    {%- endif -%}
    <div class="product__button__meta {{ packed_class }}">
      {%- if size_page -%}
        {{ size_chart }}
      {%- endif -%}

      {%- if block.settings.show_remaining -%}
        {%- assign max_inventory = block.settings.countdown -%}
        {%- assign show_remaining_class = 'count-is-unavailable' -%}
        {%- assign current_inventory = 0 -%}

        {%- if current_variant.inventory_policy == 'deny' and current_variant.inventory_management -%}
          {%- if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory -%}
            {%- assign show_remaining_class = 'count-is-low' -%}
            {%- assign current_inventory = current_variant.inventory_quantity -%}
          {%- elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory -%}
            {%- assign show_remaining_class = 'count-is-in' -%}
          {%- else -%}
            {%- assign show_remaining_class = 'count-is-out' -%}
          {%- endif -%}
        {%- else -%}
          {%- assign show_remaining_class = 'count-is-unavailable' -%}
        {%- endif -%}

        {%- capture inventory -%}
          <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }} </span>
        {%- endcapture -%}

        <p class="variant__countdown {{ show_remaining_class }}{% if block.settings.show_remaining_style == 'low' or is_preorder %} show-only-low{% endif %}" data-remaining-wrapper>
          <span class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</span>
          <span class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
          <span class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</span>
          <span class="variant__countdown--unavailable">{{ 'products.product.item_unavailable' | t }}</span>
        </p>

        <script data-product-remaining-json type="application/json">
          {
            {%- for variant in product.variants -%}
              {%- assign maximum = block.settings.countdown | plus: 1 -%}
              {%- assign quant = null -%}
              {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
                {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
              {%- endif -%}
              "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
          }
        </script>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
