<!-- /snippets/search-predictive.liquid -->

{% comment %}
  * Returns a popdown object, requires version key

  -  version {string} - Sets the popdown ID and wrapper class
{% endcomment %}

<div data-search-popdown-wrap>
  <div id="{{ version }}" class="{{ version }} search__predictive" data-popdown-outer>
    {%- if settings.predictive_search_enabled -%}
      <predictive-search>
    {%- else -%}
      <header-search-form>
    {%- endif -%}
      <form
        action="{{ routes.search_url }}"
        method="get"
        role="search">

        <div class="item--loadbar" data-loading-indicator style="display: none;"></div>
        <div class="search__predictive__outer">
          <div class="wrapper">
            <div class="search__predictive__main">
              <div class="search__predictive__actions">
                <button class="search__predictive__button" type="submit">
                  <span class="visually-hidden">{{ 'general.search.submit' | t }}</span>
                  {%- if section.settings.icons_type == 'modern' -%}
                    {% render 'icon-set-mod-search' %}
                  {%- elsif section.settings.icons_type == 'classic' -%}
                    {% render 'icon-set-classic-search' %}
                  {%- endif -%}
                </button>

                <input type="search"
                  data-predictive-search-input="search-popdown-results"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder_short' | t }}"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  aria-controls="predictive-search-results"
                >

                <div class="search__predictive__clear">
                  <button type="reset" class="search__predictive__close__inner search-reset{% if search.terms == blank %} is-hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                    {% render 'icon-core-x' %}
                    {{- 'general.search.clear' | t -}}
                  </button>
                </div>
              </div>

              <div class="search__predictive__close">
                <button type="button" class="search__predictive__close__inner" data-close-popdown aria-label="{{ 'general.accessibility.close' | t }}">
                  {% render 'icon-core-x' %}
                </button>
              </div>
            </div>
          </div>
        </div>
        {% if settings.suggested_search_1 or settings.suggested_search_2 or settings.suggested_search_3 or settings.bestseller_collection %}
        <div class="header__search__results custom__result">
          <div class="snize-ac-results-list snize-ac-results">
          {% if settings.suggested_search_1 or settings.suggested_search_2 or settings.suggested_search_3 %}
            <div class="search-suggestions">
              <h4 class="snize-label">Suggested Searches</h4>
              <ul>
                {% if settings.suggested_search_1 != blank %}
                  <li><a href="{% if settings.link_1 %}{{ settings.link_1 }}{% else %}javascript:void(0){% endif %}">{{ settings.suggested_search_1 }}</a></li>
                {% endif %}
                {% if settings.suggested_search_2 != blank %}
                  <li><a href="{% if settings.link_2 %}{{ settings.link_2 }}{% else %}javascript:void(0){% endif %}">{{ settings.suggested_search_2 }}</a></li>
                {% endif %}
                {% if settings.suggested_search_3 != blank %}
                  <li><a href="{% if settings.link_3 %}{{ settings.link_3 }}{% else %}javascript:void(0){% endif %}">{{ settings.suggested_search_3 }}</a></li>
                {% endif %}
                {% if settings.suggested_search_4 != blank %}
                  <li><a href="{% if settings.link_4 %}{{ settings.link_4 }}{% else %}javascript:void(0){% endif %}">{{ settings.suggested_search_4 }}</a></li>
                {% endif %}
                {% if settings.suggested_search_5 != blank %}
                  <li><a href="{% if settings.link_5 %}{{ settings.link_5 }}{% else %}javascript:void(0){% endif %}">{{ settings.suggested_search_5 }}</a></li>
                {% endif %}
              </ul>
            </div>
            {% endif %}
        
            {% if settings.bestseller_collection %}
              <div class="bestsellers collection__products">
                <h4 class="snize-label">Popular Products</h4>
                {% assign bestseller_products = settings.bestseller_collection.products %}
                <div class="js-grid product-grid" data-grid-large="{{ 3 }}" data-grid-small="{{ 1 }}">
                  {% for product in bestseller_products limit:settings.bestseller_limit %}
                    <div>
                    {%- liquid
                      assign preload = false
                      if forloop.index0 < preload_count
                        assign preload = true
                      endif
                    -%}
                    {% render 'product-grid-item', product: product, preload: preload %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {%- if settings.predictive_search_enabled -%}
          <div class="header__search__results" tabindex="-1" data-predictive-search-results></div>
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true" data-predictive-search-status></span>
        {%- endif -%}
      </form>

    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- else -%}
      </header-search-form>
    {%- endif -%}
  </div>

  {% if version == 'search-popdown' %}
    <span class="drawer__underlay" data-search-underlay></span>
  {% endif %}

  <script data-predictive-search-aria-template type="text/x-template">
    <div aria-live="polite">
      <p>
        {% raw %}
          {{@if(it.count)}}
            <span class="badge">{{ it.count }}</span>
          {{/if}}
          {{ it.title }} <em>{{ it.query }}</em>
        {% endraw %}
      </p>
    </div>
  </script>

  <script data-predictive-search-title-template type="text/x-template">
    <div class="search__results__heading">
      {% raw %}
        <p>
          <span class="search__results__title">{{ it.title }}</span>
          <span class="badge">{{ it.count }}</span>
        </p>
      {% endraw %}
    </div>
  </script>

  <script data-search-other-template type="text/x-template">
    {% raw %}
      {{@each(it) => object, index}}
        <div class="other__inline animates" style="animation-delay: {{ index | animationDelay }}ms;">
          <p class="other__inline__title">
            <a href="{{ object.url }}">{{ object.title | safe }}</a>
          </p>
        </div>
      {{/each}}
    {% endraw %}
  </script>

  <script data-search-product-template type="text/x-template">
    {% raw %}
      {{@each(it) => object, index}}
        <a href="{{ object.url }}" class="product__inline animates" style="animation-delay: {{ index | animationDelay }}ms;">
          <div class="product__inline__image {{ @if (object.featured_image.width === null) }} product__inline__image--no-image {{ /if}}">
            {{ @if (object.featured_image.width !== null) }}
              <img class="img-aspect-ratio" width="{{object.featured_image.width}}" height="{{ object.featured_image.height }}" alt="{{ object.featured_image.alt }}" src="{{ object.thumb }}">
            {{ /if}}
          </div>
          <div>
            <p class="product__inline__title">
              {{ object.title | safe }}
            </p>
            <p class="product__inline__price">
              <span class="price {{ object.classes }}">
                {{ object.price | safe }}
              </span>
              {{@if(object.sold_out)}}
                <br /><em>{{ object.sold_out_translation }}</em>
              {{/if}}
              {{@if(object.on_sale)}}
                <span class="compare-at">
                  {{ object.compare_at_price | safe }}
                </span>
              {{/if}}
            </p>
          </div>
        </a>
      {{/each}}
    {% endraw %}
  </script>

</div>
