<!-- /sections/404.liquid -->
<div class="{{ section.settings.width }} section-padding"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="float-grid">
    <div class="grid__item medium-up--two-thirds medium-up--push-one-sixth">
      <h1 class="title text-center">{{ 'general.404.title' | t }}</h1>
      <p class="text-center">{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ]
}
{% endschema %}