<!-- /sections/collection-sub.liquid -->

{%- assign sub_collections = section.settings.subcollections -%}
{%- assign sub_collection_count = sub_collections.count | at_most: section.settings.limit -%}

{%- if sub_collections.count > 0 -%}
<section class="{{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="hero"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
    <div class="{{ section.settings.width }} section-padding">
      <div class="subcollections subcollections__grid--{{ sub_collection_count }}">
        <div class="subcollections__inner"
          data-custom-scrollbar-items
          style="--grid-small-items: {{ section.settings.grid_mobile }};">
          {% for sub_collection in sub_collections limit: section.settings.limit %}
            <div class="section--image subcollection__item fade-in-child {{ section.settings.text_color }}">
              <a class="subcollection__link" href="{{ sub_collection.url }}">
                <div class="subcollection__image">
                  {%- assign image = sub_collection.image -%}
                  {%- capture placeholder -%}
                    collection-{%- cycle '1', '2', '3', '4', '5', '6' -%}
                  {%- endcapture -%}
                  {%- if section.settings.select_image == 'product' or image == blank -%}
                    {%- assign image = sub_collection.products.first.featured_media.preview_image -%}
                  {%- endif -%}

                  {%- capture sizes -%}
                    {%- render 'image-grid-sizes',
                      columns_desktop: sub_collection_count,
                      columns_tablet: sub_collection_count,
                      columns_mobile: 1.0,
                      section_width: section.settings.width
                    %}
                  {%- endcapture -%}

                  {%- capture srcset -%}
                    {%- render 'image-grid-srcset',
                      image: image,
                      columns_desktop: sub_collection_count,
                      columns_tablet: sub_collection_count,
                      columns_mobile: 1.0,
                      section_width: section.settings.width
                    %}
                  {%- endcapture -%}

                  {%- render 'image',
                    cover: true,
                    img_object: image,
                    wh_ratio: section.settings.wh_ratio,
                    bg_position: section.settings.bg_position,
                    sizes: sizes,
                    srcset: srcset,
                    placeholder: placeholder
                  -%}
                </div>
                <div class="image-overlay" style="--bg:{{ section.settings.overlay_color }}; opacity:{{ section.settings.overlay_opacity | times: 0.01 }};"></div>
                <div class="hero__content__wrapper {{ section.settings.text_align }}">
                  <p class="subcollection__title">{{ sub_collection.title }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="custom-scrollbar small-down--show" data-custom-scrollbar>
          <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
        </div>
      </div>
    </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "Subcollections",
  "settings": [
    {
      "type": "collection_list",
      "id": "subcollections",
      "label": "Subcollections"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Collection limit",
      "default": 6
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"},
        { "value": "palette--bright bg--bright", "label": "Bright"},
        { "value": "palette--bright bg--bright--accent", "label": "Bright accent"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text--white",
      "options": [
        { "value": "text--neutral", "label": "Normal text"},
        { "value": "text--white", "label": "White"},
        { "value": "text--primary", "label": "Primary accent"},
        { "value": "text--secondary", "label": "Secondary accent"},
        { "value": "text--black", "label": "Black"},
        { "value": "text--invert--primary", "label": "Primary dark accent"},
        { "value": "text--invert--secondary", "label": "Secondary dark accent"},
        { "value": "text--invert", "label": "Inverted text color"},
        { "value": "text--bright--primary", "label": "Primary bright accent"},
        { "value": "text--bright--secondary", "label": "Secondary bright accent"}
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Subcollection text alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "Top left"},
        { "value": "align--top-center", "label": "Top center"},
        { "value": "align--top-right", "label": "Top right"},
        { "value": "align--middle-left", "label": "Middle left"},
        { "value": "align--middle-center", "label": "Absolute center"},
        { "value": "align--middle-right", "label": "Middle right"},
        { "value": "align--bottom-left", "label": "Bottom left"},
        { "value": "align--bottom-center", "label": "Bottom center"},
        { "value": "align--bottom-right", "label": "Bottom right"}
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "select",
      "id": "select_image",
      "label": "Image source",
      "default": "collection",
      "options": [
        {
          "value": "collection",
          "label": "Collection image"
        },
        {
          "value": "product",
          "label": "First product"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Image position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "center-top" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "center-bottom" }
      ]
    },
    {
      "type": "range",
      "id": "wh_ratio",
      "min": 0.5,
      "max": 5,
      "step": 0.1,
      "unit": ":1",
      "label": "Image height ratio",
      "info": "Tall to wide",
      "default": 1.7
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 20
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Subcollections per row"
    },
    {
      "type":    "range",
      "id":      "grid_mobile",
      "min":     1,
      "max":     3,
      "step":    0.1,
      "label":   "Mobile",
      "default": 1.2
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--none", "label": "Full width" },
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ]
}
{% endschema %}
