<!-- /sections/password.liquid -->


{% comment %} {%- liquid
  if section.settings.image
    assign img_object = section.settings.image
  else
    assign img_object = 'password-page-background.svg' | asset_url
  endif

  # removing a focal point does not reset the value to nil, so we need to check for the default value
  assign focal = img_object.presentation.focal_point | default: '50.0% 50.0%'
-%} {% endcomment %}

<div class="password__outer" data-section-id="{{ section.id }}" data-section-type="password">
  {% if section.settings.image %}
    {% render 'image', img_object: section.settings.image, cover: true, sizes: '100vw', preload: true, wrapper_class: '!absolute top-0 right-0 bottom-0 left-0 z-10' %}
  {% else %}
    <img src="{{ 'password-page-background.svg' | asset_url }}" loading='lazy' class="block overflow-hidden object-cover absolute top-0 right-0 bottom-0 left-0 z-10 w-full h-full">
  {% endif %}
  <div class="password__wrapper">
    <div class="password__main" role="main">
      <div class="password__main__inner">
        <div class="password__box">
          <h1 class="password__hero">
            {% if section.settings.logo %}
              {% assign image_width = section.settings.logo.width | at_most: 800 %}
              {% assign image_width_2x = image_width | times: 2 %}
              {% capture srcset %}
                {{ section.settings.logo | image_url: width: image_width_2x }} 2x,
                {{ section.settings.logo | image_url: width: image_width }}
              {% endcapture %}

              {% render 'image', img_object: section.settings.logo, srcset: srcset, preload: true %}
            {% else %}
              <span>{{ shop.name }}</span>
            {% endif %}
          </h1>

          {% comment %}
            Edit message at http://www.shopify.com/admin/online_store/preferences
          {% endcomment %}
          {% unless shop.password_message == blank %}
            <div class="password__message">
              {{ shop.password_message }}
            </div>
          {% endunless %}

          {% comment %}
            Signup form
          {% endcomment %}
          <div class="password__signup-form">
            {% if section.settings.richtext != '<p></p>' and section.settings.richtext != '' %}
              <div class="rte">
                {{ section.settings.richtext }}
              </div>
            {% endif %}
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
              {% else %}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                <div class="input-group input-group--inner-button">
                  <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
                  <span class="input-group-button">
                    <button type="submit" name="commit" class="btn btn--soft">
                      <span>{{ 'general.password_page.signup_form_submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>

    <footer class="password__footer">
      <div class="password__footer__inner">
        <p class="password-login">
          <a href="http://www.shopify.com" target="_blank" rel="nofollow">
            {{ 'general.password_page.powered_by_shopify' | t }}
          </a>
          <span class="hidden-md-down">|</span>
          <button class="password__modal__button" data-toggle-password-modal data-popup-password="LoginModal">
            {{ 'general.password_page.password_link' | t }}
          </button>
        </p>
      </div>
    </footer>
  </div>

  <div class="modal micromodal-slide" id="LoginModal" data-modal aria-hidden="true">
    <div class="modal__overlay modal__overlay--bright" tabindex="-1" data-micromodal-close>
      <button data-micromodal-close class="modal__close" aria-label="{{ 'general.accessibility.close' | t }}"></button>
      <div class="modal__container modal__container--xl"
        data-modal-content
        role="dialog"
        aria-modal="true"
        aria-label="{{ 'general.password_page.login_form_password_label' | t }}">
        <p class="heading-size-7">{{ 'general.password_page.login_form_heading' | t }}</p>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <div class="input-group input-group--inner-button">
          <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          <span class="input-group-button">
            <button type="submit" name="commit" class="btn btn--soft">
              <span>{{ 'general.password_page.login_form_submit' | t }}</span>
            </button>
          </span>
        </div>
        {% endform %}
        <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "id": "richtext",
      "type": "richtext",
      "label": "Newsletter description",
      "default": "<p></p>"
    }
  ]
}
{% endschema %}
