<!-- /templates/gift_card.liquid -->
{% layout none %}
<!doctype html>
{% capture rtl_codes %},ar,arc,ckb,dv,fa,ha,he,khw,ks,ps,sd,ur,uz_AF,yi,{% endcapture %}
{% assign is_code_separator = request.locale.iso_code | append: ',' | prepend: ',' %}
{% assign is_rtl =  nil %}
{% if rtl_codes contains is_code_separator %}
  {% assign is_rtl =  true %}
{% endif %}
<html class="template-giftcard no-js" lang="{{ request.locale.iso_code }}" {% if is_rtl %} dir="rtl"{% endif %}>
{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
{%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
{%- assign title_override = 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name -%}
{%- assign default_description = 'gift_cards.issued.subtext' | t -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="theme-color" content="{{ settings.color_secondary }}">
  {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  <!-- ======================= Pipeline Theme V7.2.1 ========================= -->

  <!-- Preloading ================================================================== -->

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.shopifycdn.com">
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" crossorigin>

  <link rel="preload" href="{{ settings.font_body_family | font_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ settings.font_heading_family | font_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ settings.font_accent_family | font_url }}" as="font" type="font/woff2" crossorigin>

  {{ 'vendor.js' | asset_url | preload_tag: as: 'script' }}
  {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}
  {{ 'theme.css' | asset_url | preload_tag: as: 'script' }}

  <!-- Title and description ================================================ -->
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- else -%}
    <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
  {%- endif -%}

  {% capture seo_title %}
    {%- assign title_content = page_title -%}
    {% if title_override %}
      {%- assign title_content = title_override -%}
    {% endif %}
    {{ title_content }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign title_downcase = title_content | downcase | strip -%}
    {%- assign name_downcase = shop.name | downcase | strip -%}
    {%- unless title_downcase contains name_downcase -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {% endcapture %}
  <title>
    {{ seo_title }}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {% elsif default_description %}
    <meta name="description" content="{{ default_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  <!-- CSS ================================================================== -->

  {{ 'font-settings.css' | asset_url | stylesheet_tag: preload: true }}

  {% render 'css-variables' %}

  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    {% if settings.animations_scroll_enable %}
      document.documentElement.classList.add('aos-initialized');
    {%- endif -%}

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }
    var theme = {
      routes: {
        root_url: root,
        cart: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
        account_addresses_url: '{{ routes.account_addresses_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      },
      state: {
        cartOpen: null,
      },
      sizes: {
        small: 480,
        medium: 768,
        large: 1100,
        widescreen: 1400
      },
      assets: {
        photoswipe: '{{ "photoswipe.js" | asset_url }}',
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        swatches: '{{ "swatches.json" | asset_url }}',
        noImage: '{{ "nil" | img_url: "master" }}',
        base: '{{ "nil.jpg" | asset_url | split: "nil.jpg" | first }}'
      },
      strings: {
        swatchesKey: {{ 'general.swatches.color' | t | json }},
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        estimateShipping: {{ 'cart.shipping.estimate_shipping' | t | json }},
        noShippingAvailable: {{ 'cart.shipping.no_shipping_available' | t | json }},
        free: {{ 'cart.shipping.free' | t | json }},
        from: {{ 'products.general.from' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        sale: {{ 'products.product.sale' | t | json }},
        subscription: {{ 'products.product.subscription' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        stockout: {{ 'cart.general.stockout' | t | json }},
        products: {{ 'products.general.products' | t | json }},
        pages: {{ 'general.page.pages' | t | json }},
        collections: {{ 'collections.sidebar.collections' | t | json }},
        resultsFor: {{ 'general.search.results_for' | t | json }},
        noResultsFor: {{ 'general.search.no_results_for' | t | json }},
        articles: {{ 'blogs.article.articles' | t | json }},
        successMessage: {{ 'general.share.success_message' | t | json }},
      },
      settings: {
        badge_sale_type: {{ settings.badge_sale_type | json }},
        animate_hover: {{ settings.animations_hover_enable | json }},
        animate_scroll: {{ settings.animations_scroll_enable | json }},
        show_locale_desktop: {{ settings.show_locale_desktop | json }},
        show_locale_mobile: {{ settings.show_locale_mobile | json }},
        show_currency_desktop: {{ settings.show_currency_desktop | json }},
        show_currency_mobile: {{ settings.show_currency_mobile | json }},
        currency_select_type: {{ settings.currency_select_type | json }},
        currency_code_enable: {{ settings.currency_code_enable | json }},
        cycle_images_hover_delay: {{ settings.cycle_images_hover_delay }}
      },
      info: {
        name: 'pipeline'
      },
      version: '7.2.1',
      moneyFormat: {{ shop.money_format | json }},
      shopCurrency: {{ shop.currency | json }},
      currencyCode: {{ cart.currency.iso_code | json }}
    }
    let windowInnerHeight = window.innerHeight;
    document.documentElement.style.setProperty('--full-screen', `${windowInnerHeight}px`);
    document.documentElement.style.setProperty('--three-quarters', `${windowInnerHeight * 0.75}px`);
    document.documentElement.style.setProperty('--two-thirds', `${windowInnerHeight * 0.66}px`);
    document.documentElement.style.setProperty('--one-half', `${windowInnerHeight * 0.5}px`);
    document.documentElement.style.setProperty('--one-third', `${windowInnerHeight * 0.33}px`);
    document.documentElement.style.setProperty('--one-fifth', `${windowInnerHeight * 0.2}px`);

    window.isRTL = document.documentElement.getAttribute('dir') === 'rtl';
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <!-- Theme Javascript ============================================================== -->
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <script>
    (function () {
      function onPageShowEvents() {
        if ('requestIdleCallback' in window) {
          requestIdleCallback(initCartEvent, { timeout: 500 })
        } else {
          initCartEvent()
        }
        function initCartEvent(){
          window.fetch(window.theme.routes.cart + '.js')
          .then((response) => {
            if(!response.ok){
              throw {status: response.statusText};
            }
            return response.json();
          })
          .then((response) => {
            document.dispatchEvent(new CustomEvent('theme:cart:change', {
              detail: {
                cart: response,
              },
              bubbles: true,
            }));
            return response;
          })
          .catch((e) => {
            console.error(e);
          });
        }
      };
      window.onpageshow = onPageShowEvents;
    })();
  </script>

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  <!-- Shopify app scripts =========================================================== -->
  {{ content_for_header }}
</head>


<body id="{{ page_title | handle }}">

  <div class="wrapper">

    {% section 'gift-card' %}

    <main class="giftcard main-content" id="MainContent" role="main">
      <div class="giftcard__border{% if gift_card.expired or gift_card.enabled != true %} disabled{% endif %}">
        <div class="giftcard__content">

          <div class="giftcard__header">
            <h1 class="heading-size-7 giftcard__title">{{ 'gift_cards.issued.subtext' | t }}</h1>
            {% unless gift_card.enabled %}
              <span class="giftcard__tag">{{ 'gift_cards.issued.disabled' | t }}</span>
            {% endunless %}
            {% assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" %}
            {% if gift_card.expired and gift_card.enabled %}
               <span class="giftcard__tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
            {% endif %}
            {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
              <span class="giftcard__tag giftcard__tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
            {% endif %}
          </div>

          <div class="giftcard__wrap">
            <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration">

            {% assign initial_value_size = formatted_initial_value | size %}
            <div class="h1 giftcard__amount{% if initial_value_size > 6 %} giftcard__amount--medium{% endif %}">
              {% if gift_card.balance != gift_card.initial_value %}
                <span class="tooltip">
                  <span class="tooltip__label money">{{ gift_card.balance | money }}</span>
                </span>
              {% endif %}
              <strong>{{ formatted_initial_value }}</strong>
            </div>

            {% assign code_size = gift_card.code | format_code | size %}
            <div class="giftcard__code{% if code_size <= 25 %} giftcard__code--large{% elsif code_size > 25 and code_size <= 30 %} giftcard__code--medium{% else %} giftcard__code--small{% endif %}">
              <div class="giftcard__code__inner">
                <strong class="giftcard__code__text" id="GiftCardDigits">{{ gift_card.code | format_code }}</strong>
              </div>
            </div>
          </div>

          <p class="giftcard__instructions">
            {{ 'gift_cards.issued.redeem' | t }}
          </p>

          <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>

          <div class="giftcard__actions">
            <a href="{{ shop.url }}" class="btn btn--primary btn--large" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>
            <a href="#" class="action-link" onclick="window.print();">
              <i class="action-link__print"></i>{{ 'gift_cards.issued.print' | t }}
            </a>
          </div>

        </div>
      </div>
    </main>

    <footer class="giftcard__footer">
       {% if gift_card.pass_url %}
        <a class="add-to-apple-wallet" href="{{ gift_card.pass_url }}">
          <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
        </a>
      {% endif %}
    </footer>

  </div>

  <!-- QR Code Script ============================================================== -->
  <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>

</body>
</html>
